*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body{
    background-color: #535353;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: #85eae2;
    margin-top: 20px;
    padding: 20px 0px;
    position: relative;
    font-weight: lighter;
}
h1:after{
    content: 'с помощью многочлена Лагранжа';
    position: absolute;
    font-size: 16px;
    width: 350px;
    bottom: 0;
    left:50%;
    color: #d96868;
    margin: 0 -132px;
    font-weight: bold;
}
h2{
    text-transform: uppercase;
    color: #fff;
    font-weight: lighter;
    margin: 20px 0px;
}
.clear{
    clear: both;
}    
#container{
    width: 60%;
    margin: 50px auto;
    height: 800px;
}
.form{
    text-align: center;
    padding: 50px;
}
.form {
    display: block;
    margin: 0 auto;
}
.form  input{
    width: 300px;
    height: 40px !important;
    background-color: transparent;
    border:none;
    color: #fff;
    outline:none;
    border-bottom: 2px solid #85eae2;
}
.form button{
    margin-top: 20px;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
    color: #535353;
    background-color: #85eae2;
}
 button:hover{
    background-color: #313131;
    color: #85eae2;
}
.xAxis, .yAxis{
    float: left;
    width: 50%;
    display: none;
}
.xAxis p, .yAxis p{
    font-family: inherit !important;
    font-weight: lighter;
    color: #fff;
}
.xAxis input, .yAxis input{
    background-color: transparent;
    border:none;
    display: block !important;
    color: #fff;
    margin: 0 auto;
    outline:none;
    border-bottom: 2px solid #85eae2;
    height: 40px !important;
}
.graf, .inPoint{
    width: 50%;
    float: left;
}
.answerPoint{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #d96868;
}
.point{
    font-weight: bold;
}
.value{
    font-weight: bold;
}